<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success</title>
  </head>
  <body>
    <h1 style="color: green; text-align: center">SuccessFully SignUp</h1>
    <p style="color: blue; text-align: center">
      Click on the login Button to Login
    </p>
    <p style="color: crimson; text-align: center">
      For More Entry Add User Click on AddUser
    </p>
   <p style="text-align: center;"> <%=data  %> </p>
    <a href="/login " ><input
      style="margin-left: 42rem"
      class="btn btn-primary"
      placeholder="Login"
    /></a>
    <br></br>
    <a href="/"><input
      style="margin-left: 42rem"
      class="btn btn-warning"
      placeholder="AddUser"
    /></a>
    <br></br>
  </body>
</html>
